.drone h1{
    color: #444444;
    font-weight: 700;
    margin-top: 40px;
}
.drone-text{
    color: #696969;
    font-size: 20px;
    text-align: left;
}
.drone h5{
    color: #444444;
    font-weight: 600;
}