.footer{
    background-color: #333333;
    padding-top: 90px;
    padding-bottom: 70px;
}
.footer h5{
    color: #EFEFE3;
    text-align: center;
    margin-bottom: 30px;
}
.footer p{
    color: #BBBBBB;
}
